/*

*/

.btn-default {
  background-color: #bbb;
  color: #000;
  border: 0;
  border-radius: 2em;
  padding: 0.7em 2em;
  cursor: pointer;
  text-decoration: none;
  min-width: 5em;
  transition: background-color 0.3s ease-in;
}

.btn-default:hover {
  background-color: #e6e6e6;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  /*border: 1px solid transparent;*/
  /* border-radius: 4px; */
}

.btn-rect {
  margin: 20px;
  padding: 15px 40px;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid;
  cursor: pointer;
  text-decoration: none;
}
