/*
*/

.primary {
  color: #170c0f;
}

.white {
  color: #ffffff;
}

.grey {
  color: #9e9e9e;
}

.light-grey {
  color: #e0e0e0;
}

.brown {
  color: #3e2723;
}

.black-bg {
  background-color: #170c0f;
}

.brown-bg {
  background-color: #3e2723;
}

.dark-grey-bg {
  background-color: #263238;
}
