/*
*/

.primary {
  color: #170c0f;
}

.primary-bg {
  background-color: #1b1211;
}

.white {
  color: #ffffff;
}

.grey {
  color: #9e9e9e;
}

.dark-grey {
  color: #424242;
}

.light-grey {
  color: #e0e0e0;
}

.blue-grey {
  color: #78909c;
}

.brown {
  color: #3e2723;
}

.black-bg {
  background-color: #170c0f;
}

.brown-bg {
  background-color: #3e2723;
}

.dark-grey-bg {
  background-color: #212121;
}

.washed-pink-bg {
  background-color: #feeccd;
}
