/*
    Layouts
*/

.flex-container {
  display: flex;
}
.flex-direction__colomn {
  flex-direction: column;
}

.flex-align__center {
  align-items: center;
}

.flex-item {
  flex-grow: 1;
}

.flex-item__7 {
  flex-grow: 7;
}
.flex-item__2 {
  flex-grow: 2;
}

.flex-item__align-right {
  text-align: right;
}

.justify-center {
  justify-content: center;
}

/* Margins */

.margin-right__1 {
  margin-right: 1em;
}
.margin-right__2 {
  margin-right: 2em;
}

.margin-left__1 {
  margin-left: 1em;
}
.margin-left__2 {
  margin-left: 2em;
}

.margin-left__4 {
  margin-left: 4em;
}

.margin-left__half {
  margin-left: 0.5em;
}
.margin-right__half {
  margin-right: 0.5em;
}

.margin-top__1 {
  margin-top: 1em;
}

.margin-top__half {
  margin-top: 0.5em;
}

.margin-top__2 {
  margin-top: 2em;
}
.margin-bottom__1 {
  margin-bottom: 1em;
}
.margin-bottom__2 {
  margin-bottom: 2em;
}
.margin-bottom__8 {
  margin-bottom: 8em;
}

/* padding */

.padding-top__half {
  padding-top: 0.5em;
}
.padding-top__1 {
  padding-top: 1em;
}
.padding-top__2 {
  padding-top: 2em;
}

/* Navigation */

.navbar-default {
  height: 6em;
}

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 80%;
}

.border__1 {
  border: 1px solid;
}

.border-top__1 {
  border-top: 1px solid;
}
.border-bottom__1 {
  border-bottom: 1px solid;
}
.border-left__1 {
  border-left: 1px solid;
}
.border-right__1 {
  border-right: 1px solid;
}

footer li {
  list-style-type: none;
  color: white;
}

footer > .flex-container {
  margin-bottom: 0;
  margin-left: 2em;
}
