/*
    Main CSS file
*/

@import url("./resets.css");
@import url("./colours.css");
@import url("./typography.css");
@import url("./layout.css");
@import url("./buttons.css");
@import url("./animsition.css");

/* */
main {
  min-height: 60vh;
}

/* */
.slider {
  margin-top: 500px;
  opacity: 0;
}

.slider.closed {
  max-height: 0;
}
