/*
    Typography

    googlefonts;
    font-family: 'Raleway', ;
    font-family: 'Roboto', ;
*/

@import url("https://fonts.googleapis.com/css?family=Raleway|Roboto&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css");

* {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Raleway";
  color: white;
  font-size: 3em;
}

.brand {
  display: inline-block;
  font-weight: 200;
}

.font-size__1-5 {
  font-size: 1.25em;
}

.font-size__2 {
  font-size: 2em;
}

.font-size__3 {
  font-size: 3em;
}

.rotate-icon {
  transform: rotate(18deg);
}

nav > div {
  font-size: 1.25em;
}

nav a,
footer a {
  text-decoration: none;
}

nav a:hover {
  color: #ffffff;
}

.logo-grow {
  transition: transform 500ms ease-out;
}

.logo-grow:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}
